title PCAS Jobline

//- bootstrap import
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
//- font awesome import
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css')
//- custom css import
link(rel='stylesheet', href='/style/main.css')
//- requirejs import
script(data-main='/src/lib/requirejs/config', src='/src/lib/requirejs/require.js')
script.
  require(['config'],function(){
    require(['bootstrap','login','board','navbar']);
  });

//- meta for mobile
meta(name='viewport', content='width=device-width, initial-scale=1')
